header 
{
	text-align: center;
	font-size: 24pt;
	text-shadow: 3px 3px #999999;
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 15px;
}


body 
{
	background-image: url("moviebg.png");
	font: 10pt Arial;
	width: 1300px;
}

#banner
{
	background-image: url("rancidbannerbg.png");
	background-repeat: repeat-x;
	height: 90px;

}
#banner img
{
	margin: 0px 150px 0px 190px;
}

h1 
{
	color: red;
	font-size: 60px;
}

#pictures 
{
	padding: 5px;
	margin: 5px;
	height: 30px;
}

#main 
{
	width: 850px; 
	margin: auto;
	padding: 2px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px 5px grey;
	height: 86em;
	border-bottom: 10px;
	border-top: 5px;
	background-color: #EEEEEE;
}

secImg img
{
	width: 22%;
	height: 270px;
	vertical-align: top;
	border-top-right-radius: 10px;
}

#second 
{
	background-color: #EEEEEE;
}

span#topTitle 
{
	color: gold;
	font-size: 1.5em;
}

.rightPart dt {
	padding: 10pt;
	font-weight: bold;
	display: block;
	font-size: smaller;
	margin: 1px;
}

.leftPart
{
	padding: 10px;
	float: left;
	margin-left: 10px;
}

.s
{
	text-indent: 41px;
	padding: 1px;
	line-height: 0px;
}
.rightPart
{
	float: right;
	background-color: #A2B964;
	width: 187px;
	height: 75%;
	padding-bottom: 10px;
	margin: auto;
	margin-left: 2px;
	border-bottom-right-radius: 10px;
}

.middlePart
{
	margin: auto;
	padding: 10px;
	margin-left: 5px;
	float: left;
	width: 25%;	
}

.tops
{
	width: 663px;
	background-image: url("rottenlargebg.png");
	height: 72px;
	float: left;
	margin-bottom: 9px;
	color: red;
	padding-bottom: 8px;
	border-top-left-radius: 10px;
	font-size: 43pt;

}

.tops img
{
	padding-bottom: 15px;
	margin-top: 10px;
	margin-bottom: 0px;
	height: 63px;
}

.bottom 
{
	vertical-align: bottom;
	width: 100px;
}

.enclosed p  
{
	overflow: hidden;
	border: 0.1px solid grey;
	border-radius: 10px;
	background-color: white;
	width: 300px;
}
#footer
{
    text-align: center;    
    margin-top: 863px;
    background-color: #A2B964;
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 15px;
}